<div class="top-bar">

    <div id="version"></div>

    <div class="burger">
        <button id="burger-button" title="Show menu and chrome below demo">
            <i class="fa fa-bars"></i>
        </button>
    </div>

    <h2 class="sample-name">{{path}}</h2>

    <div class="top-bar-menu topframe-hidden">
        {{#if mobile}}
        <a class="button" id="mobile-home" href="/samples/mobile">
            <i class="fa fa-home"></i>
            <span class="button-text">Overview</span>
        </a>
        {{/if}}
        <a class="button" href="javascript:;" id="next" disabled="disabled" title="Next (Arrow Right)">
            <i class="fa fa-arrow-right"></i>
            <span class="button-text">Next</span>
        </a>

        <a class="button mobile-hide" id="reload" href="javascript:location.reload()"
            title="Reload (Ctrl + Enter)">
            <i class="fa fa-refresh"></i>
            <span class="button-text">Reload</span>
        </a>

        {{#if styled}}
        <!--a class="button active" title="View this sample with CSS and no inline styling"
                href="view?path={{path}}&amp;styled=false">
            <i class="fa fa-css3"></i>
            <span class="button-text">Styled</span>
        </a-->
        {{else}}
        <!--a class="button" title="View this sample with CSS and no inline styling"
            href="view?path={{path}}&amp;styled=true">
            <i class="fa fa-css3"></i>
            <span class="button-text">Styled</span>
        </a-->
        {{/if}}

        <a class="button {{compareClass}} mobile-hide"
                href="compare-view?path={{path}}">
            <i class="fa fa-columns"></i>
            <span class="button-text">Compare</span>
        </a><a class="button mobile-hide" id="bisect">
            <i class="fa fa-code-fork"></i>
            <span class="button-text">Bisect</span>
        </a>


        <a class="button mobile-hide"
            href="view?path={{path}}&amp;profile=1">
            <i class="fa fa-rocket"></i>
            <span class="button-text">Profile</span>
        </a><a class="button mobile-hide"
            href="view?path={{path}}&amp;time=1">
            <i class="fa fa-clock-o"></i>
            <span class="button-text">Time</span></a>


        <a id="view-source" class="button mobile-hide" href="javascript:;">
            <i class="fa fa-code"></i>
            <span class="button-text">View source</span>
        </a>

        <a class="button mobile-hide"
            href="/samples/jsfiddle-post?path={{path}}">
            <i class="fa fa-external-link"></i>
            <span class="button-text">Share</span></a>
        </a>



        <!--a class="button mobile-hide"
            href="http://{{ipAddress}}:3030/samples/view?path={{path}}&mobile=true"
            target="_blank">
            <i class="fa fa-mobile"></i>
            <span class="button-text">Mobile</span></a-->

        <a id="mobile-preview" class="button mobile-hide" href="javascript:;">
            <i class="fa fa-mobile"></i>
            <span class="button-text">Mobile</span></a>

        <!-- if themes, means we have a mini form control -->
        {{#if themes}}
        <form method="post" action="/samples/settings-post" id="settings-form">
            <select name="theme" onchange="this.form.submit()">
            {{#each themes}}
                <option value="{{@key}}" {{selected}}>
                    {{name}}
                </option>
            {{/each}}
            </select>
        </form>
        {{/if}}

        <div id="quick-settings">
            {{#if compileOnDemand}}
            <form
                method="post"
                action="/samples/settings-post"
                id="compile-form">
                    <i class="fa fa-bolt"></i>
                    <label for="compile-on-demand-toggle">
                    Compile on Demand
                    </label>
                    <input
                        type="checkbox"
                        id="compile-on-demand-toggle"
                        name="compileOnDemand"
                        {{ compileOnDemand.checked }}
                        onchange="this.form.submit()"
                       />
            </form>
            {{/if}}
        </div>

    </div>
</div>
