<div class="top-bar">

    <div id="version"></div>

    <div class="burger">
        <button id="burger-button" title="Show menu and chrome below demo">
            <i class="fa fa-bars"></i>
        </button>
    </div>

    <h2 class="sample-name">{{path}}</h2>

    <div class="top-bar-menu topframe-hidden">
        {{#if mobile}}
        <a class="button" id="mobile-home" href="/samples/mobile">
            <i class="fa fa-home"></i>
            <span class="button-text">Overview</span>
        </a>
        {{/if}}
        <a class="button" href="javascript:;" id="next" disabled="disabled" title="Next (Arrow Right)">
            <i class="fa fa-arrow-right"></i>
            <span class="button-text">Next</span>
        </a>

        <a class="button mobile-hide" id="reload" href="javascript:location.reload()"
            title="Reload (Ctrl + Enter)">
            <i class="fa fa-refresh"></i>
            <span class="button-text">Reload</span>
        </a>

        <form method="post" action="/samples/settings-post" id="settings-form">
        <input type="hidden" name="quickSettings" value="on">

        {{#if compileOnDemand}}
        <input type="hidden" name="compileOnDemand"
            value="{{#if compileOnDemand.checked}}on{{else}}off{{/if}}">
        <a class="button {{#if compileOnDemand.checked}}active{{/if}}"
            id="compile-on-demand-toggle"
            name="compileOnDemand-shim"
            title="Compile on demand"
            onclick="
                document.getElementById('settings-form')
                    .compileOnDemand.value = document.getElementById('settings-form')
                    .compileOnDemand.value === 'on' ? 'off' : 'on';
                document.getElementById('settings-form').submit()
            ">
            <i class="fa fa-bolt"></i>
            <span class="button-text">Compile on demand</span>
        </a>
        {{/if}}
        <script>const bodyClass = document.body.className</script>
        <span class="button-group">
            <label class="button"
                    onmouseover="previewColorScheme('light')"
                    onmouseout="previewColorScheme()"
                    title="Light mode">
                <input type="radio" name="colorScheme" value="light"
                    {{#if colorScheme.light}}checked="checked"{{/if}}
                    onchange="this.form.submit()">
                <i class="fa fa-sun-o"></i>
                <span class="button-text">Light mode</span>
            </label><label class="button"
                    onmouseover="previewColorScheme('dark')"
                    onmouseout="previewColorScheme()"
                    title="Dark mode">
                <input type="radio" name="colorScheme" value="dark"
                    {{#if colorScheme.dark}}checked="checked"{{/if}}
                    onchange="this.form.submit()">
                <i class="fa fa-moon-o"></i>
                <span class="button-text">Dark mode</span>
            </label><label class="button"
                    onmouseover="previewColorScheme('system')"
                    onmouseout="previewColorScheme()"
                    title="System color scheme">
                <input type="radio" name="colorScheme" value="system"
                    {{#if colorScheme.system}}checked="checked"{{/if}}
                    onchange="this.form.submit()">
                <i class="fa fa-desktop"></i>
                <span class="button-text">System</span>
            </label>
        </span>
        {{#if themes}}
        <a id="theme-button" class="button" href="javascript:"
                onclick="this.querySelector('select').click();"
                title="Change theme">

			<svg class="button-icon" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g stroke="currentColor" stroke-width="1.33" stroke-linecap="round" stroke-linejoin="round" clip-path="url(#palette_svg__a)"><path d="M1.333 7.999A6.667 6.667 0 0 0 8 14.665a2 2 0 0 0 2-2v-.333c0-.31 0-.464.017-.594a2 2 0 0 1 1.722-1.722c.13-.017.285-.017.595-.017h.333a2 2 0 0 0 2-2 6.667 6.667 0 1 0-13.334 0Z"></path><path d="M4.667 8.665a.667.667 0 1 0 0-1.333.667.667 0 0 0 0 1.333ZM10.667 5.999a.667.667 0 1 0 0-1.334.667.667 0 0 0 0 1.334ZM6.667 5.332a.667.667 0 1 0 0-1.333.667.667 0 0 0 0 1.333Z"></path></g><defs><clipPath id="palette_svg__a"><path fill="#fff" d="M0 0h16v16H0z"></path></clipPath></defs></svg>
			<span class="button-text">Theme</span>
            <select name="theme" onchange="this.form.submit()">
            {{#each themes}}
                <option value="{{@key}}" {{selected}}>
                    {{name}}
                </option>
            {{/each}}
            </select>

        </a>

        {{/if}}

        </form>

        <a class="button {{compareClass}} mobile-hide"
                href="compare-view?path={{path}}" id="compare-button"
                title="Compare side by side">
            <i class="fa fa-columns"></i>
            <span class="button-text">Compare</span>
        </a>

        <a class="button mobile-hide" id="bisect"
                title="Bisect">
            <i class="fa fa-code-fork"></i>
            <span class="button-text">Bisect</span>
        </a>

        <span class="button-group">
            <a id="edit" class="button mobile-hide"
                    href="javascript:void(0);"
                    title="Edit inline (Cmd+E)">
                <i class="fa fa-code"></i>
                <span class="button-text">Edit</span>
            </a><a id="edit-in-editor" class="button mobile-hide"
                    href="vscode://file/{{highchartsDir}}/samples/{{path}}/{{mainFilename}}"
                    title="Edit in code editor">
                <i class="fa fa-file-code-o"></i>
                <span class="button-text">Edit</span>
            </a>
        </span>

		<a class="button mobile-hide" id="share"
			    href="/samples/jsfiddle-post?path={{path}}"
                title="Share...">
			<i class="fa fa-share"></i>
			<span class="button-text">Share</span>
		</a>

		<a id="mobile-preview" class="button mobile-hide" href="javascript:;"
                title="Mobile preview">
			<i class="fa fa-mobile"></i>
			<span class="button-text">Mobile</span>
        </a>
    </div>

    <div id="popup">
        <div id="popup-content">
            <div id="popup-close">
                <i class="fa fa-times"></i>
            </div>
            <div id="popup-title"></div>
            <div id="popup-body"></div>
        </div>
    </div>
</div>
