<div class="top-bar">

    <div id="version"></div>

    <div class="burger">
        <button id="burger-button" title="Show menu and chrome below demo">
            <i class="fa fa-bars"></i>
        </button>
    </div>

    <h2 class="sample-name">{{path}}</h2>

    <div class="top-bar-menu topframe-hidden">
        {{#if mobile}}
        <a class="button" id="mobile-home" href="/samples/mobile">
            <i class="fa fa-home"></i>
            <span class="button-text">Overview</span>
        </a>
        {{/if}}
        <a class="button" href="javascript:;" id="next" disabled="disabled" title="Next (Arrow Right)">
            <i class="fa fa-arrow-right"></i>
            <span class="button-text">Next</span>
        </a>

        <a class="button mobile-hide" id="reload" href="javascript:location.reload()"
            title="Reload (Ctrl + Enter)">
            <i class="fa fa-refresh"></i>
            <span class="button-text">Reload</span>
        </a>

        <!-- if themes, means we have a mini form control -->
		<div class="dropdown" data-anchor="quick-settings">
			<div class="dropdown-inner">
                <form method="post" action="/samples/settings-post" id="settings-form">
                <input type="hidden" name="quickSettings" value="on">

				{{#if compileOnDemand}}
				<p>
                    <input type="hidden" name="compileOnDemand"
                        value="{{#if compileOnDemand.checked}}on{{else}}off{{/if}}">
                    <label>
                        <input
                            type="checkbox"
                            id="compile-on-demand-toggle"
                            name="compileOnDemand-shim"
                            {{ compileOnDemand.checked }}
                            onchange="this.form.compileOnDemand.value = this.checked ? 'on' : 'off'; this.form.submit()"
                            />
                        Compile on Demand
                    </label>
				</p>
				{{/if}}
                <p>
                    <script>const bodyClass = document.body.className</script>
                    <label
                            onmouseover="document.body.className='highcharts-light';"
                            onmouseout="document.body.className=bodyClass;">
                        <input type="radio" name="colorScheme" value="light"
                            {{#if colorScheme.light}}checked="checked"{{/if}}
                            onchange="this.form.submit()">
                        Light mode
                    </label>
                    <label
                            onmouseover="document.body.className='highcharts-dark';"
                            onmouseout="document.body.className=bodyClass;">
                        <input type="radio" name="colorScheme" value="dark"
                            {{#if colorScheme.dark}}checked="checked"{{/if}}
                            onchange="this.form.submit()">
                        Dark mode
                    </label>
                    <label
                            onmouseover="document.body.className='highcharts-system';"
                            onmouseout="document.body.className=bodyClass;">
                        <input type="radio" name="colorScheme" value="system"
                            {{#if colorScheme.system}}checked="checked"{{/if}}
                            onchange="this.form.submit()">
                        System
                    </label>

                </p>
				{{#if themes}}
				<p>
				    <select name="theme" onchange="this.form.submit()">
					{{#each themes}}
						<option value="{{@key}}" {{selected}}>
							{{name}}
						</option>
					{{/each}}
					</select>
				</p>
				{{/if}}
				</form>
			</div>
		</div>

		<a id="quick-settings" class="button mobile-hide" href="javascript:;">
			<i class="fa fa-cog"></i>
			<span class="button-text">Quick settings</span></a>

        {{#if styled}}
        <!--a class="button active" title="View this sample with CSS and no inline styling"
                href="view?path={{path}}&amp;styled=false">
            <i class="fa fa-css3"></i>
            <span class="button-text">Styled</span>
        </a-->
        {{else}}
        <!--a class="button" title="View this sample with CSS and no inline styling"
            href="view?path={{path}}&amp;styled=true">
            <i class="fa fa-css3"></i>
            <span class="button-text">Styled</span>
        </a-->
        {{/if}}

        <a class="button {{compareClass}} mobile-hide"
                href="compare-view?path={{path}}" id="compare-button">
            <i class="fa fa-columns"></i>
            <span class="button-text">Compare</span>
        </a><a class="button mobile-hide" id="bisect">
            <i class="fa fa-code-fork"></i>
            <span class="button-text">Bisect</span>
        </a>

        <a id="edit" class="button mobile-hide" href="javascript:;"
                title="Edit (Cmd+E)">
            <i class="fa fa-edit"></i>
            <span class="button-text">Edit</span>
        </a>

		<a class="button mobile-hide" id="share"
			href="/samples/jsfiddle-post?path={{path}}">
			<i class="fa fa-external-link"></i>
			<span class="button-text">Share</span></a>
		</a>

		<!--a class="button mobile-hide"
			href="http://{{ipAddress}}:3030/samples/view?path={{path}}&mobile=true"
			target="_blank">
			<i class="fa fa-mobile"></i>
			<span class="button-text">Mobile</span></a-->

		<a id="mobile-preview" class="button mobile-hide" href="javascript:;">
			<i class="fa fa-mobile"></i>
			<span class="button-text">Mobile</span></a>


        <a class="button mobile-hide" id="profile"
            href="view?path={{path}}&amp;profile=1">
            <i class="fa fa-rocket"></i>
            <span class="button-text">Profile</span>
        </a>

        <a class="button mobile-hide" id="time"
            href="view?path={{path}}&amp;time=1">
            <i class="fa fa-clock-o"></i>
            <span class="button-text">Time</span></a>


    </div>

    <div id="popup">
        <div id="popup-content">
            <div id="popup-close">
                <i class="fa fa-times"></i>
            </div>
            <div id="popup-title"></div>
            <div id="popup-body"></div>
        </div>
    </div>
</div>
