<script>

var mainFrame = window.parent.document.querySelector('frame#main'),
	mainLocation = mainFrame && mainFrame.contentWindow.location.href,
	isComparing = mainLocation && mainLocation.indexOf('view') > -1;

document.addEventListener('DOMContentLoaded', function () {

	if (isComparing) {
		document.body.className = 'compare';

		$('#close').click(function () {
			window.parent.parent.controller.toggleBisect();
		});
	}

	document.querySelectorAll('a.test-anchor').forEach(function (a) {
		if (isComparing) {
			a.href = a.href.replace(
				'/bisect/view?hash=',
				'/samples/compare-view?path=' +
					window.parent.controller.getQueryParameters(mainFrame.contentWindow).path +
					'&rightcommit='
			);
		}

		if (a.parentNode.getElementsByTagName('input').length) {
			a.click();
		}
	});
});

</script>
<style type="text/css">
	* {
		font-family: Arial, sans-serif;
	}
	h3 {
		font-size: 16pt;
		background: white;
	}
	ul {
		margin: 150px 1em 1em 1em;
		padding-left: 10px;
		
	}
	
	a {
		text-decoration: none;
	}

	form {
		margin-top: 1.5em;
	}

	li.visited a {
		color: silver;
	}
	li.active {
		background: linear-gradient(to right, rgba(255,255,255,0), rgb(124,181,236));
	}
	
	body {
		margin: 0;
	}
	small {
		color: gray;
	}

	.date {
		color: gray;
		display: block;
	}
	.parents {
		position: absolute;
	}
	.parents .disc {
		width: 6px;
		height: 6px;
		border-radius: 5px;
		border-width: 2px;
		border-color: black;
	}
	input:disabled {
		color: silver;
	}

	#topnav {
		z-index: 2;
		top: 0;
		box-shadow: 5px 5px 5px #888;
		background: white;
		padding: 1em;
	}
	#topnav a, input[type="submit"] {
		background: white;
		color: black;
		cursor: pointer;
		border: 1px solid silver;
		border-radius: 5px;
		margin: 0.5em 0;
		padding: 0.5em;
	}
	#topnav span {
		padding-left: 5px;
	}
	#topnav div {
		padding: 1em;
		line-height: 1.5em;
	}
	#topnav label {
		margin: 0.5em 0;
	}
	#compare-header {
		display: none;
	}

	.compare #setdata {
		display: none;
	}
	.compare #compare-header {
		display: block;
		color: silver;
		font-style: italic;
		padding: 1em 1em 0 1em;
	}

	#close {
		display: none;
	}
	.compare #close {
		display: inline-block;
		float: right;
		margin: -0.5em 0 1em 1em;
		border-radius: 0;
		color: white;
		background: #34343e;
		border: none;
		border-radius: 0.3em;
		font-size: 2em;
		padding: 0 0.5em;
	}
	.automatic {
		display: none;
	}
	.compare .automatic {
		display: inline;
	}
	#result {
		margin: 2em 1em;
	}
	li.culprit {
		border: 2px solid red;
		border-radius: 5px;
		padding: 0.5em
		margin: 1em 0;
		list-style: none;
	}
	li.culprit pre {
		overflow-x: auto;
		font-family: ;
	}
</style>

<form method="post" action="/bisect/bisect">
<div id="topnav">

	<button id="close">&times;</button>
	
	
	<label>
	Last known <strong>good</strong> tag or commit
	</label>
	<br>
	<input type="text" name="good" value="{{good}}" />

	<br>
	<label>
	First known <strong>bad</strong> tag or commit (leave blank if still broken)
	</label>
	<br>
	<input type="text" name="bad" value="{{bad}}" />

	<br>
	
	<input type="checkbox" id="automatic" name="automatic" {{automaticChecked}} class="automatic" />
	<label for="automatic" class="automatic">Automatic</label>
	
	<input type="submit" value="Start bisect" />
	
	<br>
	<br>
	<a id="setdata" href="main" target="main">Change test data</a>
	</div>

</div>

<div id="result">
	<ol id="steps">
	{{#each steps}}

		<li class="step {{className}}">
			<a class="test-anchor" href="/bisect/view?hash={{commit}}" target="main">
				{{message}}
			</a>
			<br>
			<small>{{bisectStatus}}</small>
			<br>
			{{#if showButtons}}
			<input type="submit" id="current-good" name="current-good" value="Good" />
			<input type="submit" id="current-bad" name="current-bad" value="Bad" />
			{{/if}}

			{{#if isCulprit}}
			<pre>{{full}}</pre>
			<a target="_blank" href="https://github.com/highcharts/highcharts/commit/{{commit}}">
				View on GitHub
			</a>
			{{/if}}
		</li>


	{{/each}}
	</ol>

</div>

</form>
