
<style type="text/css">
body {
	font-family: Arial;
}
a, p, div, li {
	font-size: 10pt;
}
textarea, code {
	font-family: monospace;
	color: green;
}

/* Styles from demo.css */
{{{css}}}
</style>

<div style="padding: 10px">

	{{{html}}}


	<script>{{{js}}}</script>
	<hr/>

	View commit: <a target='_blank'
		href='https://github.com/highslide-software/highcharts.com/commit/{{hash}}'>
		{{shortHash}}</a>.
</div>


