<!DOCTYPE html>
<html>
    <head>
        {{#if consoleClear}}
        <script>
        // Clearing the console is only useful when running in sequense inside
        // frames
        if (window.parent !== window) {
        console.clear();
        }
        </script>
        {{/if}}
        <title>{{title}}</title>
        {{#if isView}}
        <meta http-equiv="Content-Security-Policy" content="
            trusted-types
                highcharts
                default
                'allow-duplicates';
            require-trusted-types-for
                'script';
            default-src
                'self'
                blob:
                data:
                https://a.tile.openstreetmap.org
                https://a.tile.openstreetmap.fr/hot/
                https://a.tile.opentopomap.org/
                https://server.arcgisonline.com/ArcGIS/rest/services/
                https://cdn.lima-labs.com/
                https://stamen-tiles-a.a.ssl.fastly.net
                https://stamen-tiles-c.a.ssl.fastly.net
                https://a.tile.thunderforest.com/
                https://basemap.nationalmap.gov/arcgis/rest/services/
                https://a.tile.thunderforest.com/
                https://api.met.no
                https://assets.highcharts.com
                https://code.highcharts.com
                https://demo-live-data.highcharts.com
                https://www.highcharts.com
                https://cdn.jsdelivr.net
				https://fonts.gstatic.com
                https://ajax.googleapis.com
                https://netdna.bootstrapcdn.com
                https://opencache.statkart.no
                https://sheets.googleapis.com
                https://upload.wikimedia.org
                https://github.s3.amazonaws.com
				https://wp-assets.highcharts.com
                https://www.youtube.com/embed/MG1IwurRmvk;
            script-src
                'unsafe-inline'
                http://localhost:3030/
                http://*:3030
                https://ajax.googleapis.com
                http://code.highcharts.com
                https://code.highcharts.com
                http://code.highcharts.local
                https://code.highcharts.local
                https://cdnjs.cloudflare.com
                https://code.jquery.com
                https://cdn.jsdelivr.net
                http://utils.highcharts.local
                https://utils.highcharts.local
                https://www.highcharts.com;
            script-src-elem
                'unsafe-inline'
                http://localhost:3030/
                http://*:3030
                http://code.highcharts.com
                http://code.highcharts.local
                http://utils.highcharts.local
                https://utils.highcharts.local
                https://www.highcharts.com
                https://cdnjs.cloudflare.com
                https://d3js.org
                https://code.jquery.com
                https://cdn.jsdelivr.net
                https://ajax.googleapis.com
                https://netdna.bootstrapcdn.com;
            style-src
                'nonce-mynoncehash'
                http://localhost:3030/
                http://*:3030
                http://utils.highcharts.local
                https://utils.highcharts.local
                https://www.highcharts.com
                https://cdn.jsdelivr.net
                https://fonts.googleapis.com
                https://ajax.googleapis.com
                https://netdna.bootstrapcdn.com
                https://github.com
                https://github.s3.amazonaws.com;
        ">
        {{/if}}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='/stylesheets/style.css' />

        {{#each scripts}}
        <script src="{{this}}"></script>
        {{/each}}
        {{#each styles}}
        <link type="text/css" rel="stylesheet" href="{{this}}" />
        {{/each}}
    </head>
    <body class="{{bodyClass}}">
        <script>
            window.dispatchEvent(new Event('bodyload'));
        </script>
        {{{body}}}


        {{#each deferredScripts}}
        <script src="{{this}}"></script>
        {{/each}}
    </body>
</html>
