<!DOCTYPE html>
<html>
  	<head>
      {{#if consoleClear}}
      <script>
	  // Clearing the console is only useful when running in sequense inside
	  // frames
	  if (window.parent !== window) {
	    console.clear();
	  }
	  </script>
      {{/if}}
    	<title>{{title}}</title>
		{{#if isView}}
		<meta http-equiv="Content-Security-Policy" content="
			trusted-types
				highcharts
				default;
			require-trusted-types-for
				'script';
			default-src
				'self'
				https://demo-live-data.highcharts.com
				https://cdn.jsdelivr.net;
			script-src
				'unsafe-inline'
				http://localhost:3030/
				http://*:3030
				http://utils.highcharts.local
				https://utils.highcharts.local
				https://www.highcharts.com;
			script-src-elem
				'unsafe-inline'
				http://localhost:3030/
				http://*:3030
				http://utils.highcharts.local
				https://utils.highcharts.local
				https://www.highcharts.com;
			style-src
				'nonce-mynoncehash'
				http://localhost:3030/
				http://*:3030
				http://utils.highcharts.local
				https://utils.highcharts.local
				https://www.highcharts.com
				https://cdn.jsdelivr.net
				https://fonts.googleapis.com;
		">
		{{/if}}
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link rel='stylesheet' href='/stylesheets/style.css' />

		{{#each scripts}}
    	<script src="{{this}}"></script>
    	{{/each}}
      {{#each styles}}
      <link type="text/css" rel="stylesheet" href="{{this}}" />
      {{/each}}
  	</head>
  	<body class="{{bodyClass}}">
    	{{{body}}}


      {{#each deferredScripts}}
      <script src="{{this}}"></script>
      {{/each}}
  	</body>
</html>
