<!DOCTYPE html>
<html>
  	<head>
    	<title>{{title}}</title>
		<meta http-equiv="Content-Security-Policy" content="
			default-src 'self';
			script-src-elem 'unsafe-inline' http://localhost:3030/;
			style-src 'nonce-mynoncehash' http://localhost:3030/;
		">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link rel='stylesheet' href='/stylesheets/style.css' />
      {{#if consoleClear}}
      <script>console.clear()</script>
      {{/if}}

    	{{#each scripts}}
    	<script src="{{this}}"></script>
    	{{/each}}
      {{#each styles}}
      <link type="text/css" rel="stylesheet" href="{{this}}" />
      {{/each}}
  	</head>
  	<body class="{{bodyClass}}">
    	{{{body}}}


      {{#each deferredScripts}}
      <script src="{{this}}"></script>
      {{/each}}
  	</body>
</html>
