<!DOCTYPE html>
<html>
  	<head>
      {{#if consoleClear}}
      <script>console.clear()</script>
      {{/if}}
    	<title>{{title}}</title>
		{{#if styledMode}}
		<meta http-equiv="Content-Security-Policy" content="
			default-src 'self';
			script-src 'unsafe-inline' http://localhost:3030/ http://*:3030 http://utils.highcharts.local https://utils.highcharts.local https://www.highcharts.com;
			script-src-elem 'unsafe-inline' http://localhost:3030/ http://*:3030 http://utils.highcharts.local https://utils.highcharts.local https://www.highcharts.com;
			style-src 'nonce-mynoncehash' http://localhost:3030/ http://*:3030 http://utils.highcharts.local https://utils.highcharts.local https://www.highcharts.com;
		">
		{{else}}
		{{#if isView}}
		<meta http-equiv="Content-Security-Policy" content="
			trusted-types highcharts default;
			require-trusted-types-for 'script'
		">
		{{/if}}
		{{/if}}
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link rel='stylesheet' href='/stylesheets/style.css' />

		{{#if isView}}
		<script>
		var trustedTypes = window.trustedTypes;

		// Add default trusted types so that jQuery is allowed to make DOM
		// modifications
		if (
			trustedTypes &&
			typeof trustedTypes.createPolicy === 'function'
		) {
			trustedTypes.createPolicy(
				'default', {
					createHTML: function(s) {
						var caller = arguments.callee.caller;
						while (caller) {
							if (caller.toString().indexOf(
								// Lean on a comment in jQuery. Not very robust
								// but it works for now.
								'Firefox dies'
							) !== -1) {
								return s;
							}
							caller = caller.caller;
						}

						throw new TypeError(
							'Disallowed HTML, use Trusted Types only.'
						)
					},
					createScript: function(s) {
						return s;
					}
				}
			);
		}

		</script>
		{{/if}}

    	{{#each scripts}}
    	<script src="{{this}}"></script>
    	{{/each}}
      {{#each styles}}
      <link type="text/css" rel="stylesheet" href="{{this}}" />
      {{/each}}
  	</head>
  	<body class="{{bodyClass}}">
    	{{{body}}}


      {{#each deferredScripts}}
      <script src="{{this}}"></script>
      {{/each}}
  	</body>
</html>
