<style type="text/css">
	{{{css}}}
</style>

<script type="text/javascript">		

$(function () {
	{{{unitTestsFile}}}
});

window.test = undefined; // QUnit adds a deprecated global function
{{{testFile}}}
</script>


{{#if unitTestsFile}}
<div id="qunit"></div>
<div id="qunit-fixture"></div>
{{/if}}

{{{html}}}

<script>
// Set options, overrides etc.
setUpHighcharts();
</script>
<script>
try {

{{{js}}}

} catch (e) {
	console.error(e.message);
	parent.window.onDifferent('Error');
}
</script>
