

<style type="text/css">
	.top-bar {
		display: none;
		color: white;
		font-family: Arial, sans-serif;
		font-size: 0.8em;
		padding: 0.5em;
		height: 3.5em;
		background: #333333;
		box-shadow: 0px 0px 8px #888;
	}

	.top-bar a {
		color: white;
		text-decoration: none;
		font-weight: bold;
	}
	td {
		font-size: 0.8em;
	}
	.desc {
		font-style: italic;
		color: #666;
	}

	#diff {
		width: 30px;
	}

	input[type=submit] {
		float: right;
	}

	input, select {
		border: 1px solid silver;
		padding: 4px;
		border-radius: 4px;
	}

	input#title {
		width: 400px;
	}

</style>
<script>

var controller = window.parent && window.parent.controller;
var query = controller.getQueryParameters(document);
var path = query.path;
var sample = controller.samples[path];
var $ = window.parent.$;
$(window).load(function () {

	sample.setCurrent();

	$('#submit-actual', document).click(function () {
		$('#diff', document).attr(
			'value',
			$(this).data('diff')
		);
	});

	if (query.focus !== 'false') {
		$('#title', document)[0].focus();
	}

	document.getElementsByTagName('form')[0].onsubmit = function submit() {

		// Set options and save to disk
		sample.setOptions({
			compare: {
				comment: {
					symbol: this.symbol.value,
					diff: this.diff.value,
					title: this.title.value
				}
			}
		});
		return false;
	};

	if (window.parent && window.parent.parent) {
		$(window).bind('keydown', window.parent.parent.keyDown);
	}
});

</script>


<div class="top-bar">

	<h2 style="margin: 0; height: auto">Comparison Comment</h2>
	<div>{{path}}</div>

</div>

<div style="margin: 10px">

	<small class="desc">If the symbol is "check" and the approved diff equals
	the reported diff, it will appear green in the list on the left.</small>
	<form>

		<table>
			<tr>
				<td>Symbol</td>
				<td>
					<select name="symbol">
						{{#each symbols}}
						<option name='symbol' {{selected}} value='{{symbolName}}'>
							{{symbolName}}
						</option>
						{{/each}}
					</select>
				</td>

				<td>Approved diff</td>
				<td><input type="text" id="diff" name="diff" value="{{diff}}" /></td>

				<td>Title</td>
				<td>
					<input type="text" id="title" name="title"
						value="{{title}}" list="title-data-list"/>
					<datalist id="title-data-list">
						{{#each titleDataList}}
						<option value="{{this}}">{{this}}</option>
						{{/each}}
					</datalist>
				</td>

				<td></td>
				<td>
					<input type="submit" id="submit" name="submit"
						class="button" value="OK" />


					<input type='submit' name='submit-actual' id='submit-actual'
						data-diff='{{computedDiff}}' class='button'
						{{#unless hasDiffChanged}}style="display: none"{{/unless}}
						value='Approve {{computedDiff}}' />

					<script>
					var computedDiffElement = window.parent &&
						window.parent.document.getElementById('computed-diff');
					if (computedDiffElement) {
						var computedDiff = computedDiffElement.innerHTML;
						if (computedDiff !== document.getElementById('diff').value) {
							var submitActualButton = document.getElementById('submit-actual');
							submitActualButton.setAttribute('data-diff', computedDiff);
							submitActualButton.setAttribute('value', 'Approve ' + computedDiff);
							submitActualButton.style.display = '';
						}
					}
					</script>
				</td>
			</tr>
		</table>
	</form>
</div>
