
{{> nav }}

<style type="text/css">
textarea {
    font-family: monospace;
    margin: 0.5em 0;
}
textarea#preJS {
    width: 100%;
    height: 10em;
}
input[type="submit"] {
    height: 2em;
}
input[type="text"] {
    width: 50%;
    min-width: 400px;
    line-height: 2em;
}
h4 {
    margin-bottom: 0.5em;
}
small.help {
    display: block;
    margin-bottom: 0.5em;
}
</style>
<form id="settings" action="/samples/settings-post" method="post">
    <div style="padding: 10px 20px">

        {{#each options}}
        <div>
        <h4>{{key}}</h4>
        <small class="help">{{help}}</small>

        {{#if isCheckbox}}
        <input type="{{type}}" name="{{key}}" {{checked}}/>
        {{else}}
        <input type="{{type}}" name="{{key}}" value="{{value}}"/>
        {{/if}}
        </div>
        {{/each}}

        <h4>HTML to insert between demo.html and demo.js</h4>
        <small>Script tags with experimental modules or plugins can be inserted
        here, for testing on multiple samples. It is stored in the session and
        will affect the <em>view</em> page.</small>
        <textarea id="preJS" name="preJS">{{{preJS}}}</textarea>


        <input type="submit" value="Submit" />
    </div>


</form>