
{{> nav }}

<style type="text/css">
	{{{css}}}
</style>

<div id="source-box"></div>
<div id="main-content">
	<div style="margin: 1em">

	{{{html}}}
	</div>

	
	{{#if readme}}
	<div class="description" id="description">{{{readme}}}</div>
	{{/if}}

	{{{preJS}}}

	<script>
	if (controller) {
		if (typeof setUp === 'function') {
			setUp();
		}

		// Override and point to local resources
		$.getJSON = controller.getJSON;
	}
	{{{js}}}
	</script>


	{{#if testNotes}}
	<section class="test-notes">
		<header>Test notes</header>
		<div class="test-notes-content">
			{{{testNotes}}}
		</div>
	</section>
	{{else}}
	<hr/>
	{{/if}}

	{{#if mobile}}
	<div style="margin: 1em">
		<p>
			<b>Mobile shortcut - </b>
			<a href="http://{{ipAddress}}:3030/draft">http://{{ipAddress}}:3030/draft</a>
		</p>
	</div>
	{{/if}}


</div>