
{{> nav }}

<style type="text/css">
	{{{css}}}
</style>

<div id="source-box"></div>
<div id="main-content">
	<div style="margin: 1em">

	{{{html}}}
	</div>

	
	{{#if readme}}
	<div class="description" id="description">{{{readme}}}</div>
	{{/if}}

	<script>
	setUp();
	{{{js}}}
	</script>


	{{#if testNotes}}
	<section class="test-notes">
		<header>Test notes</header>
		<div class="test-notes-content">
			{{testNotes}}
		</div>
	</section>
	{{else}}
	<hr/>
	{{/if}}


</div>