
{{> nav }}

<script>
if (window.jQuery) {
	jQuery.noConflict();
}
</script>

<style type="text/css" nonce="mynoncehash">
	{{{css}}}
</style>

<div id="source-box"></div>
<div id="main-content">
	<div id="demo-content">

	{{{html}}}
	</div>

	<div class="topframe-hidden">
		{{#if readme}}
		<div class="description" id="description">{{{readme}}}</div>
		{{/if}}

		{{{preJS}}}

		<script{{#if es6Context.isModule}} type="module"{{/if}}>
		if (typeof setUp === 'function') {
			setUp();
		}
		{{{js}}}
		</script>


		{{#if testNotes}}
		<section class="test-notes">
			<header>Test notes</header>
			<div class="test-notes-content">
				{{{testNotes}}}
			</div>
		</section>
		{{else}}
		<hr/>
		{{/if}}

		{{#if mobile}}
		<div class="mobile-shortcut">
			<p>
				<b>Mobile shortcut - </b>
				<a href="http://{{ipAddress}}:3030/draft">http://{{ipAddress}}:3030/draft</a>
			</p>
		</div>
		{{/if}}
	</div>


</div>